<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <div th:replace="/layout/header.html :: header"></div>
    <link rel ="stylesheet" th:href="@{/css/font.css}">
</head>
<sec:authorize access="isAuthenticated()">
    <sec:authentication property="principal" var="principal"/>
</sec:authorize>
<body>
<div th:replace="/layout/navi.html :: navi"></div>
<br><br>
<div class="container">
    <h3 th:text ="${board.id}" id ="id" style="display:none">글 번호</h3>
    <div style="text-align: right;">
        작성자: <span><i th:text="${board.user.username}"></i></span>&ensp;
        <span th:switch="${board.category}">
        <span th:case="daily">카테고리: 일상</span>
        <span th:case="study">카테고리: 공부</span>
        <span th:case="travel">카테고리: 여행</span>
        <span th:case="*">카테고리: 기타</span>
      </span>
        <div th:text="|작성일: ${board.createDate}|"></th:text></div>
    </div>
    <br/>
    <div>
        <h3 th:text="${board.title}" id="title"></h3>
    </div>
    <hr>
    <div>
        <div th:utext="${board.content}" id="content"></div>
    </div>
    <hr>
    <br/><br/>
    <div class="btnLike" style="text-align:center;">
        <img src="/img/like_empty.png" height="35px" id="likeImg" style='cursor:pointer; display:inline-block'/>
        <span th:utext="|추천: ${boardLikeInfo.BoardLikeNum}|" style="display:inline-block"></span>
        <input type="hidden" id="like-check" th:value="${boardLikeInfo.check}" style="display:inline-block">
    </div>
    <div>
    <!--    글쓴이 당사자에게만 수정, 삭제 버튼 보이기.-->
    <div th:if="${board.getUser().id == principal.user.id}">
        <div class=buttonDiv style="float:right;">
            <a th:href="@{/board/{id}/updateForm(id=${board.id})}" class="btn btn-warning">수정</a>
            <button class="btn btn-danger" id="btn-delete">삭제</button>
            <button class="btn btn-secondary" onclick="history.back()">뒤로가기</button>
        </div>
    </div>

    <!--    글쓴이 아니면 수정, 삭제 버튼 안보이게 하기.-->
    <div th:unless="${board.getUser().id == principal.user.id}">
        <div class=buttonDiv style="float:right;">
            <button class="btn btn-outline-secondary" onclick="history.back()">뒤로가기</button>
        </div>
    </div>

    </div>
    <br/><br/>
    <!--댓글-->
    <div class="card" style="margin-top: 30px;">
        <form style="margin-block-end: 0em;">
            <input type="hidden" th:id="userId" th:value="${principal.user.id}"/>
            <input type="hidden" th:id="boardId" th:value="${board.id}"/>
            <div class="card-body" style="text-align: right; padding: 0.5rem;">
                <textarea id="reply-content" class="form-control" rows="1" style="margin-bottom: 5px;"></textarea>
                <button type="button" id="btn-reply-save" class="btn btn-info">등록</button>
            </div>
        </form>
    </div>
    <br/>
    <div class="card">
        <div class="card-header">댓글 리스트</div>
        <ul th:each="reply : ${board.replies}" th:id="reply--box" class="list-group">
            <li th:id="|reply--${reply.id}|" class="list-group-item d-flex justify-content-between">
                <div th:text="${reply.content}">댓글 내용입니다!!</div>
                <div th:if="${reply.user.id == principal.user.id}" class="d-flex ">
                <div class="d-flex">
                    <div th:text="|작성자 : ${reply.user.username} &nbsp|" class="font-italic">작성자 : kang &nbsp;</div>
                    <button th:onclick="|javascript:index.replyDelete(${board.id}, ${reply.id})|" class="badge">삭제</button>
                </div>
                </div>
                <di th:unless="${reply.user.id == principal.user.id}" class="d-flex ">
                    <div th:text="|작성자 : ${reply.user.username} &nbsp|" class="font-italic">작성자 : kang &nbsp;</div>
                </di>
            </li>
        </ul>
    </div>

</div>


<script src="/js/board.js"></script>
<footer th:replace="/layout/footer.html :: footer"></footer>
</body>
</html>