<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <div th:replace="/layout/header.html :: header"></div>
    <link rel ="stylesheet" th:href="@{/css/joinLoginForm.css}">
    <link rel ="stylesheet" th:href="@{/css/font.css}">
</head>

<body>
<div th:replace="/layout/navi.html :: navi"></div>
<br/><br/>
<div class="container">
    <form>
        <input type="hidden" id="id" th:value="${principal.user.id}">
        <div class="form-group">
            <label for="username">username:</label>
            <input type="text" th:value="${principal.user.username}" class="form-control" id="username" readonly>
        </div>
        <div class="form-group">
            <label for="email">email:</label>
            <input type="text" th:value="${principal.user.email}" class="form-control" id="email">
        </div>
        <!--  email 검증 메세지    -->
        <p id="valid_email"></p>

        <div class="form-group">
            <label for="password">password:</label>
            <input type="password" class="form-control" id="password">
        </div>
        <!--  password 검증 메세지    -->
        <p id="valid_password"></p>

        <br/>
        <hr class="my-4">
    </form>
    <div class="row">
        <div class="col">
            <button id="btn-update" class="w-100 btn btn-primary btn-lg">회원 수정</button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg" onclick="location.href='items.html'" th:onclick="|location.href='@{/}'|" type="button">취소</button>
        </div>
    </div>
</div>
<script src="/js/user.js"></script>
<footer th:replace="/layout/footer.html :: footer"></footer>
</body>
</html>

