.container {
        max-width: 560px;
        margin-bottom :50px;
        margin-top :50px;
}
.form-check-label{
           float:right;
}
.social-login{
    text-align: center;
    margin-top: 35px;
}
