<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="/layout/header.html :: header"></head>
<body>
<div th:replace="/layout/navi.html :: navi"></div>
<br><br>
<div class="container">
  <div class="card m-2" th:each ="board : ${boards}">
    <div class="card-body">
      <div class="row">
      <div class="col">
      <h4 class="card-title" th:text="${board.title}">제목</h4>
      </div>
      <div class="col">
      <a th:href="@{/board/{id}(id=${board.id})}" class="btn btn-secondary" style="float: right">상세 보기</a>
      </div>
      </div>
    </div>
  </div>
</div>

<footer th:replace="/layout/footer.html :: footer"></footer>
</body>
</html>