<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <di th:replace="/layout/header.html :: header"></di>
  <link rel ="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
<div th:replace="/layout/homeNavi.html :: home-navi"></div>
<br><br>
<div class="container">
  <div class="card m-2" th:each ="board : ${boards}">
    <div class="card-body">
      <div class="row">
      <div class="col">
      <h4 class="card-title" th:text="${board.title}">제목</h4>
      </div>
      <div class="col">
      <a th:href="@{/board/{id}(id=${board.id})}" class="btn btn-outline-secondary" style="float: right">상세 보기</a>
      </div>
      </div>
      <hr>
      <div>
      <div class="left-box">
        <span th:text="|조회 수: ${board.viewCount}|"></span>&ensp;
        <span th:text="|추천 수: ${board.likeCount}|"></span>&ensp;
<!--        <span th:text="|작성 자: ${board.user.username}|"></span></div>-->
      <span th:switch="${board.category}">
        <span th:case="daily">카테고리: 일상</span>
        <span th:case="study">카테고리: 공부</span>
        <span th:case="travel">카테고리: 여행</span>
        <span th:case="*">카테고리: 기타</span>
      </span>&ensp;
      </div>
        <div class="right-box">
          <span th:text="|${board.createDate}|"></span>
        </div>
      </div>
    </div>
  </div>

  <!--페이지 바-->
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item" th:classappend="${1 == nowPage+1} ? 'disabled'">
        <a class="page-link" href="#" th:href="@{/(page= ${nowPage-1}, search=${param.search})}" tabindex="-1">Previous</a>
      </li>
      <li class="page-item" th:classappend="${page == nowPage+1} ? 'disabled'" th:each="page : ${#numbers.sequence(startPage, endPage)}">
        <a class="page-link" href="#" th:href="@{/(page= ${page-1}, search=${param.search})}" th:text="${page}">1</a></li>
      <li class="page-item" th:classappend="${endPage == nowPage+1} ? 'disabled'">
        <a class="page-link" href="#" th:href="@{/(page= ${nowPage+1}, search=${param.search})}">Next</a>
      </li>
    </ul>
  </nav>
</div>

<footer th:replace="/layout/footer.html :: footer"></footer>
</body>
</html>